.buttons-flex details{
  font-size: var(--FS-REG);
}
.buttons-flex details summary{
  text-decoration:underline;
  cursor: pointer;
  font-size: var(--FS-REG);
}

main .buttons-flex{
  display: flex;        
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: var(--HEADER-HEIGHT);
  gap: var(--SPACING-SM);
}

.buttons-flex input{
  display: none;
}
.buttons-flex .expandable-btn{
  width: calc( (var(--SPACING-HEIGHT-XL)) + var(--SPACING-HEIGHT-2XL) ) ;
  height: var(--SPACING-HEIGHT-XL);
  
  box-shadow: 0 0 10px var(--LOW-OPACITY-SH);
  display: flex;
  align-items: center;
  gap: var(--SPACING-SM);
  transition: all 0.35s;
  text-align: center;
  border: var(--SPACING-2S) solid var(--LIGHT-BORDER);
  cursor: pointer;
  padding: 0 0 0 var(--SPACING-SM);
  overflow:hidden;

}
input:checked + .expandable-btn{
  width: 98%;
  color: var(--BGCOLOR);
  background-color: var(--ALT-BGCOLOR);
}

.expandable-btn .btn-title{
  width: calc( (var(--SPACING-HEIGHT-XL)) + var(--SPACING-HEIGHT-2XL)) ;
  flex-shrink: 0;
  color: var(--ALT-BGCOLOR);
  background-color: transparent;
  font-size: var(--FS-LG); 
  font-weight: 600;
  padding-bottom: var(--SPACING-SM);
  transition: all 0.35s;
}

input:checked + .expandable-btn .btn-title{
  color: var(--BGCOLOR);
  border-left: calc(var(--SPACING-2S) - 0.1rem) solid var(--DARK-BORDER);
}
.expandable-btn .btn-content{
  font-size:var(--FS-SM);
  font-weight: 600;
  text-align:justify;
}


main .timeline-container{
  display:flex ;
  flex-direction: column;
  margin: var(--SPACING-HEIGHT-XL) var(--SPACING-HEIGHT-L);
  border-right: var(--SPACING-XS) solid var(--LIGHT-BORDER);
}

.timeline-item{
  position: relative;
  margin-bottom: var(--SPACING-HEIGHT-L);
  padding-right: var(--SPACING-XL);
}

.timeline-item::before{
  content: '';
  position: absolute;
  top: -2px;
  right:-18px;
  height: var(--SPACING-XL);
  width: var(--SPACING-XL);
  background-color: var(--ALT-BGCOLOR);
  color: var(--BGCOLOR);
 
}

.timeline-item .period {
  font-size: var(--FS-SM);
  font-weight: 600;
  margin-bottom: var(--SPACING-XS);
  border-right: var(--SPACING-2S) solid ;
  padding-right: var(--SPACING-XS);
}

.timeline-item .title{
  font-size: var(--FS-LG);
  font-weight: 700;
  margin-bottom: var(--SPACING-SM);
}

.timeline-item .description,
.timeline-item .skills{
  font-size: var(--FS-REG);
  font-weight: 400;
  color: var(--ALT-BGCOLOR);
}

.timeline-item .description{
  font-size: var(--FS-SM);
  text-align:justify;
}

.outro-container{
  border: var(--SPACING-XS) solid var(--LIGHT-BORDER);
  padding: var(--SPACING-LG) var(--SPACING-SM);
  text-align: center;
}
.outro-container p{
  font-size: var(--FS-LG);
  font-weight: 800;
  padding-bottom: var(--SPACING-XS);
}

.timeline-item:first-child::before{
  box-shadow: 0 0 10px 5px var(--LIGHT-SHADOW);
}
/* هذا الكود سيجعل الخيط يتوقف عند آخر عنصر */
.timeline-item:last-child {
  margin-bottom: 0;
}




@media (max-width:850px) {

  .buttons-flex {
    width: 90%;
    height: auto;
    margin: var(--SPACING-HEIGHT-L) auto ; 
  }
 
  .buttons-flex .expandable-btn {
    width: 100%;
    height: calc(var(--SPACING-HEIGHT-L) + var(--SPACING-SM) );
    border: none; 
    border-bottom: calc(var(--SPACING-2S) - 0.1rem) solid var(--LIGHT-BORDER);
    background-color: transparent;
    padding: var(--SPACING-SM) var(--SPACING-SM);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }

  .expandable-btn .btn-title {
    font-size: var(--FS-LG); 
    width: 100%;
    border: none;
    text-align: right;
  }

  input:checked + .expandable-btn {
    height: auto;
    width: 100%;
    padding-bottom: var(--SPACING-SM); 
    border-bottom: var(--SPACING-2S) solid var(--DARK-BORDER); 
  }
  
  input:checked + .expandable-btn .btn-title {
    line-height: 2; 
    margin: var(--SPACING-SM); 
    font-weight: bold;
    border-left: transparent;
    border-bottom: calc(var(--SPACING-2S) - 0.1rem) solid var(--DARK-BORDER);
  }
  
  .expandable-btn .btn-content {
    font-size: var(--FS-MD); 
    line-height: 1.6; 
    text-align: justify; 
    color: var(--BGCOLOR);
  }

  .timeline-container { margin: var(--SPACING-HEIGHT-L); }
  .timeline-item .title{ font-size: var(--FS-LG); }
  .timeline-item .period { font-size: var(--FS-REG);}
  .timeline-item .description{ font-size: var(--FS-SM); }
  .timeline-item .skills{ font-size: var(--FS-REG);}

  .outro-container{
    border: calc(var(--SPACING-XS) - 0.1rem) solid var(--LIGHT-BORDER);
    padding: var(--SPACING-MD) var(--SPACING-SM);
  }
  .outro-container p{
    font-size: var(--FS-SM);
    font-weight: 800;
    padding-bottom: var(--SPACING-XS);
  }
}
