header{
  position: fixed;
  top:0;
  right:0;
  left: 0;
  height: var(--HEADER-HEIGHT);
  z-index: 1000;
  background-color: var(--ALT-BGCOLOR);
  color: var(--BGCOLOR);
  border-radius: var(--SPACING-XS);
}
header .header-container{
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--SPACING-SM);
  position: relative;
}

.header-container .logo {
  color: var(--BGCOLOR);
  border: var(--SPACING-XS) solid var(--DARK-BORDER);
  font-size: var( --FS-XXL);
  padding: 0 var(--SPACING-SM);
  border-radius: var(--SPACING-XS);
  transition: all 0.1s;
}

.header-container .logo:hover{
  color: var(--ALT-BGCOLOR);
  background-color: var(--BGCOLOR);
  border: var(--SPACING-XS) solid var(--DARKER-BORDER);
  cursor: pointer;
}
.header-container .logo:active{
  opacity: 0.8;
}
.header-container .tagline1, .lang{
  color: var(--BGCOLOR);
  border-bottom: var(--SPACING-2S) solid var(--DARK-BORDER);
  text-decoration: none;
  font-size: var(--FS-MD); 
  font-weight: 600;
  padding-bottom: var(--SPACING-XS);
} 
.header-container .tagline1{
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: fit-content;
}

header .navbar-container{
  position: fixed;
  top: calc(var(--HEADER-HEIGHT) + var(--SPACING-LG));
  right: 50%;
  transform: translateX(50%);
  width: fit-content;
  border-radius: var(--SPACING-XS);

  z-index: 900;
  background-color: rgba(225, 225, 225, 0.1);
  backdrop-filter:blur(5px);
  -webkit-backdrop-filter: blur(2px);
  
  border: calc(var(--SPACING-2S) - 0.1rem) solid var(--MID-OPACITY-SH);
  box-shadow: 0 0 10px 5px var(--LOW-OPACITY-SH);
  padding: var(--SPACING-SM) var(--SPACING-LG);
}

.navbar-container .nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:var(--SPACING-LG);
  list-style: none;
}
.navbar-container .nav-links a{
  white-space: nowrap;
  color:var(--ALT-BGCOLOR);
  text-decoration: none;
  font-size: var(--FS-MD);
  font-weight: 700;
  border-bottom: calc(var(--SPACING-2S) - 0.1rem) solid var(--MID-OPACITY-SH);
  padding: var(--SPACING-XS) 0;
}



@media (max-width:850px) {

  header{ height: var(--HEADER-HEIGHT); }
  

  .header-container .logo{ 
    font-size: var(--FS-XXL); 
    border: calc(var(--SPACING-XS) - 0.1rem) solid var(--DARK-BORDER);
    padding: 0 var(--SPACING-XS);
  }
  
  .header-container .logo:hover{
     border: calc(var(--SPACING-XS) - 0.1rem) solid var(--DARKER-BORDER);
  }
  
  .header-container .tagline1{ 
    position:unset;
    transform:unset;
    font-size: var(--FS-XS);       
    text-align: center;
    flex: 1; 
    border-bottom: calc(var(--SPACING-2S) - 0.1rem) solid var(--DARK-BORDER);             
    margin: 0 var(--SPACING-XS);
  }

  .header-container .lang{ 
    font-size: var(--FS-REG); 
    border-bottom: calc(var(--SPACING-2S) - 0.1rem) solid var(--DARK-BORDER);
  }

  header .navbar-container{ top: calc(var(--HEADER-HEIGHT) + 1rem); padding: var(--SPACING-SM); }
  .navbar-container .nav-links{ gap:var(--SPACING-MD); }
  .navbar-container .nav-links a{ font-size: var(--FS-SM); }
}