header{
  position: fixed;
  top:0;
  right:0;
  left: 0;
  height: 100px;
  z-index: 1000;
  background-color: rgb(225, 225, 225);
  color: #333;
}
header .header-container{
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.header-container .logo {
  color: #333;
  border: 4px solid #333;
  font-size: 48px;
  font-weight: 800;
  text-decoration: none;
  padding: 0 10px;
  transition: all 0.1s;
}
.header-container .logo:hover{
  color:rgb(225, 225, 225);
  background-color: #333;
  border: 4px solid black;
  cursor: pointer;
}
.header-container .logo:active{
  opacity: 0.8;
}
.header-container .tagline1, .lang{
  color: #333;
  border-bottom: 2px solid #333;
  text-decoration: none;
  font-size: clamp(14px, 1.5vw, 18px); 
  font-weight: 600;
  padding-bottom: 5px;
} 
.header-container .tagline1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

header .navbar-container{
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  
  z-index: 900;
  background-color: rgba(225, 225, 225, 0.1);
  backdrop-filter:blur(5px);
  -webkit-backdrop-filter: blur(2px);
  
  border: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 0 10px 5px rgba(225, 225, 225, 0.2);
  padding: 8px 24px;
}

.navbar-container .nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:25px;
  list-style: none;
}
.navbar-container .nav-links a{
  white-space: nowrap;
  color:rgb(225, 225, 225);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  border-bottom:1px solid rgba(225, 225, 225, 0.5);
  padding: 3px 0;
}



@media (max-width:850px) {

  header{ height: 70px; }
  

  .header-container .logo{ 
    font-size: 24px; 
    border: 3px solid #333;
    padding: 0 5px;
  }
  
  .header-container .logo:hover{
     border: 3px solid black;
  }
  
  .header-container .tagline1{ 
    position:unset;
    transform:unset;
    font-size: 8px;       
    text-align: center;
    flex: 1; 
    border-bottom: 1px solid #333;             
    margin: 0 5px;
  }

  .header-container .lang{ 
    font-size: 14px; 
    border-bottom: 1px solid #333;
  }

  header .navbar-container{ top: 100px; padding: 6px 8px; }
  .navbar-container .nav-links{ gap:15px; }
  .navbar-container .nav-links a{ font-size: 12px; }
}