*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family:'Tajawal', sans-serif;
  color:rgb(225, 225, 225);
  background-color: #333;
  line-height: 1.6;
  padding-top: 100px;
}

h1{ font-size: 48px; font-weight: 800; }
h2{ font-size: 36px; font-weight: 700; }
h3{ font-size: 24px; font-weight: 600; }

@media (max-width:850px) {
  body{ padding-top: 70px; }

  h1{ font-size: 32px; }
  h2{ font-size: 24px; }
  h3{ font-size: 18px; }

}