*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  font-size: 62.5%;
}

body{
  font-family:'Tajawal', sans-serif;
  color:rgb(225, 225, 225);
  background-color: #333;
  line-height: 1.6;
  padding-top: 100px;
  padding-bottom: 20px;
}

h1{ font-size: 4.8rem; font-weight: 800; }
h2{ font-size: 3.6rem; font-weight: 700; }
h3{ font-size: 2.4rem; font-weight: 600; }
p{ font-size: 1.2rem; }

@media (max-width:850px) {
  body{ padding-top: 70px; }

  h1{ font-size: 3rem; }
  h2{ font-size: 2.4rem; }
  h3{ font-size: 1.8rem; }
  p{ font-size: 1.2rem; }
}