.buttons-flex details{
  font-size: var(--FS-REG);
}
.buttons-flex details summary{
  text-decoration:underline;
  cursor: pointer;
  font-size: var(--FS-REG);
}

main .buttons-flex{
  display: flex;        
  flex-direction: column; 
  align-items: flex-start; 
  margin-top:100px;
  gap: 10px;
}

.buttons-flex input{
  display: none;
}
.buttons-flex .expandable-btn{
  width: 350px;
  height: 100px;
  overflow:hidden;
  box-shadow: 0 0 10px var(--LIGHT-SHADOW);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.35s;
  text-align: center;
  border: 3px solid var(--LIGHT-BORDER);
  cursor: pointer;
  padding: 0 0 0 10px;
}
input:checked + .expandable-btn{
  width: 98%;
  color: var(--BGCOLOR);
  background-color: var(--ALT-BGCOLOR);
}

.expandable-btn .btn-title{
  width: 350px;
  flex-shrink: 0;
  color: var(--ALT-BGCOLOR);
  background-color: transparent;
  font-size: var(--FS-LG); 
  font-weight: 600;
  padding-bottom: 5px;
  transition: all 0.35s;
}
input:checked + .expandable-btn .btn-title{
  color: var(--BGCOLOR);
  border-left: 1px solid var(--DARK-BORDER);
}
.expandable-btn .btn-content{
  font-size:var(--FS-SM);
  font-weight: 600;
}


main .timeline-container{
  display:flex ;
  flex-direction: column;
  margin: 100px 50px;
  border-right: 4px solid var(--LIGHT-BORDER);
}

.timeline-item,
.timeline-item-done{
  padding-top: 20px;
  position: relative;
  margin-bottom: 40px;
  padding-right: 40px;
}

.timeline-item-done::before,
.timeline-item::before{
  content: '';
  position: absolute;
  top: 5px;
  right:-17px;
  height: 30px;
  width: 30px;
  background-color: var(--ALT-BGCOLOR);
  color: var(--BGCOLOR);
 
}
.timeline-item-done::before{
  box-shadow: 0 0 10px 5px var(--LIGHTER-SHADOW);
}

.timeline-item-done .period,
.timeline-item .period {
  font-size: var(--FS-SM);
  font-weight: 600;
  margin-bottom: 4px;
  border-right: 2px solid ;
  padding-right: 5px;
}
.timeline-item-done .title,
.timeline-item .title{
  font-size: var(--FS-LG);
  font-weight: 700;
   margin-bottom: 8px;
}
.timeline-item-done .description,
.timeline-item .description,
.timeline-item-done .skills,
.timeline-item .skills{
  font-size: var(--FS-REG);
  font-weight: 400;
  color: var(--ALT-BGCOLOR);
}
.timeline-item-done .description,
.timeline-item .description{
font-size: var(--FS-SM);
}

.outro-container{
  border: 4px solid var(--LIGHT-BORDER);
  padding: 30px 10px;
  text-align: center;
}
.outro-container p{
  font-size: var(--FS-LG);
  font-weight: 800;
  padding-bottom: 5px;
}





@media (max-width:850px) {

  .buttons-flex {
    width: 90%;
    height: auto;
    margin: 120px auto 20px auto; 
    gap: 15px; 
  }
 
  .buttons-flex .expandable-btn {
    width: 100%;
    height: 60px; 
    border: none; 
    border-bottom: 1px solid var(--LIGHT-BORDER);
    background-color: transparent;
    text-align: right;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }

  .expandable-btn .btn-title {
    font-size: var(--FS-LG); 
    line-height: 60px; 
    margin: 0;
    width: 100%;
    
    border: none; 
    padding: 0;
  }

  input:checked + .expandable-btn {
    height: auto;
    width: 100%;
    padding-bottom: 20px; 
    border-bottom: 2px solid var(--DARK-BORDER); 
  }
  
  input:checked + .expandable-btn .btn-title {
    line-height: 2; 
    margin-top: 15px; 
    margin-bottom: 10px;
    font-weight: bold;
    border-left: transparent;
    border-bottom: 1px solid var(--DARK-BORDER);
  }
  
  .expandable-btn .btn-content {
    font-size: var(--FS-MD); 
    line-height: 1.6; 
    text-align: right; 
    color: var(--BGCOLOR);
  }

  .timeline-container { margin: 50px 40px; }
  .timeline-item .title{ font-size: var(--FS-LG); }
  .timeline-item .period { font-size: var(--FS-REG);}
  .timeline-item-done .description,
  .timeline-item .description{ font-size: var(--FS-SM); }
  .timeline-item-done .skills,
  .timeline-item .skills{ font-size: var(--FS-REG);}

  .outro-container{
    border: 3px solid var(--LIGHT-BORDER);
    padding: 20px 10px;
  }
  .outro-container p{
    font-size: var(--FS-SM);
    font-weight: 800;
    padding-bottom: 3px;
  }
}
