*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  /* FONT SIZES */
  --FS-SM: 1.4rem;   /* 14px */
  --FS-REG: 1.6rem;  /* 16px */
  --FS-MD: 2.0rem;   /* 20px */
  --FS-LG: 2.4rem;   /* 24px */
  --FS-XL: 3.6rem;   /* 36px */
  --FS-XXL: 4.8rem;  /* 48px */
  /*COLOR*/
  --BGCOLOR: #333;
  --ALT-BGCOLOR: rgb(225, 225, 225);
  --LIGHT-BORDER: var(--ALT-BGCOLOR);
  --DARK-BORDER: var(--BGCOLOR);
  --DARKER-BORDER:black;
  --LIGHT-SHADOW: rgba(225, 225, 225, 0.35);
  --LIGHTER-SHADOW: rgb(225, 225, 225);
  
}

@media (prefers-color-scheme: light){
  :root{
    --BGCOLOR: rgb(225, 225, 225);
    --ALT-BGCOLOR:  #333 ;
    --LIGHT-BORDER: var(--ALT-BGCOLOR);
    --DARK-BORDER: var(--BGCOLOR);
    --LIGHT-SHADOW: rgba(0, 0, 0, 0.35);
    --LIGHTER-SHADOW: rgb(0, 0, 0);
  }
}

/* NOTE

  rgb(225, 225, 225);

*/
html{
  font-size: 62.5%;
}

body{
  font-family:'Tajawal', sans-serif;
  color:var(--ALT-BGCOLOR);
  background-color:var(--BGCOLOR);
  line-height: 1.6;
  padding-top: 100px;
  padding-bottom: 20px;
}

@media (max-width: 850px) {
  body { padding-top: 70px; }

  :root {
    --FS-XXL: 3.2rem; 
    --FS-XL:  2.4rem; 
    --FS-LG:  1.8rem; 
    --FS-MD:  1.6rem; 
    --FS-REG: 1.4rem; 
    --FS-SM:  1.2rem; 
  }
}